@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #242424;
}

.cells {
  padding: 10px;
  margin: 2px;
  border: solid 2px white;
}

body,
main,
.App {
  background-color: #242424 !important;
  width: 100%;
}

h2 {
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  text-shadow: 0px 0px 10px rgb(217, 0, 255);
}

.tutorial h2 {
  margin: 60px auto 30px;
}

main.tutorial {
  width: 100vw;
  margin: auto;
  padding-bottom: 100px;
  height: 100%;
}

main.not-found {
  position: absolute;
  z-index: 9998;
}


img.tutorial_img {
  display: flow-root;
  margin: 20px auto 35px;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px rgb(228, 141, 228);
}

img.user_img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 160px;
  border-radius: 50%;
}

.tutorial_intro {
  color: rgb(235, 216, 255);
  font-size: 20px;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px 2px rgb(244, 63, 220);
  /* From https://css.glass */
  background: rgba(231, 46, 123, 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(231, 46, 123, 0.55);
}

.user_intro {
  color: whitesmoke;
  margin: 50px auto 30px;
  text-align: center;
  font-size: 20px;
}

.user_h1 {
  margin: 120px auto 0
}

.App {
  height: 80%;
}

.tips_title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.tips_span {
  font-weight: bold;
}

html,
body,
.anim {
  margin: 0;
  padding: 0;
}

.anim {
  position: absolute;
  height: 95.8vh;
  width: 100%;
  top: 57px;
}

.three-d-controls {
  position: absolute;
  bottom: 27vh;
  left: 0;
  z-index: 100;
  transform: translateY(20%);
  transform: translateX(10%);
}

.game-alerts {
  position: absolute;
  bottom: 50vh;
  width: 100%;
  z-index: 900;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

.patterns_h1,
.tutorial_h1,
.users_h1,
.profile_h1,
.comments_h1 {
  margin-top: 100px;
  padding: 30px;
}

.login_h1  {
  margin: 120px auto 40px;
  padding: 30px
}

.login_text {
  color: whitesmoke;
  text-align: center;
}

.signup {
  width: 80%;
  margin: 50px auto
}

#login_alert, #login_success, #profile_alert, #profile_success {
  width: 80%;
  margin: 50px auto
}

#set-3d {
  padding: 6px 13px !important
}

.gametipsImg {
  width: 80%;
  height: 45%;
  margin: 10px;
  display: flex;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.form-label {
  color: black
}

div.card {
  margin: 20px 10px;
  padding: 4px;
  height: 520px;
  max-width: 330px
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.user_card {
  margin: 20px auto !important;
  width: 300px;
  height: 430px !important
}

.card-img-top {
  object-fit: cover;
  border-radius: 0 !important;
  max-height: 290px;
  width: 100%
}

.patterns_list, .users_list {
  margin: auto;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, max-content));
  justify-content: center;
  gap: 30px;
  padding-bottom: 90px;
}

.users_list {
  gap: 0
}

.comments_list {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin: 0 auto 40px;
}

.comments_list > div {
  height: auto;
  width: 100% !important
}

.back-to-top {
 display: block !important;
 margin: auto;
 margin: 70px auto 70px
}

.pattern_delete {
  position: absolute;
  bottom: 10px;
  left: 20px;
  background-color: #FA64C8 !important;
}

#nav {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 9999;
  justify-content: center;
}

.navbar-nav {
  padding: 5px;
  align-items: center;
  flex-direction: flex-start;
  gap: 8px
}

div.container {
  margin: 0 !important;
  max-width: 1200px !important
}

a.nav-link {
  padding: 8px 5px 5px !important
}

#two-d-nav {
  color: rgb(255, 165, 0);
  font-weight: bold;
  font-size: 20px;
  margin: -3px;
}

div.modal {
  margin-top: 500px;
  width: 100vw;
}

div.user_title {
  margin: 90px 0 30px;
}

#offcanvas {
  position: absolute;
  z-index: 999;
  left: 0;
  background-color: rgb(234, 68, 159);
}

.button-module {
  margin: 5px 0;
  width: 650px;
  height: 40px;
}

.btn-group {
  flex-direction: column;
  align-items: baseline;
}

.btn-group > * {
  width: 120px;
}

#two-d-btn-group {
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1300px;
  margin: 20px 0;
  box-shadow: 0 0 10px 3px rgb(254, 157, 21);
}

#two-d-btn-group  > * {
  width: auto;
  border-radius: 0 !important;
}

.two-d-controls {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto 
}

#three-d-btn-group #start {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
}

#three-d-btn-group #save {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0;
}

button#save {
  background-color: rgb(255, 115, 0);
  border: 1px solid orange
}

.leva-c-kWgxhW-bCBHqk-fill-false {
  width: 300px !important
}

.leva-c-bDGmTT {
  justify-content: center;
}

.leva-c-hwSNBG {
  width: 120px
}

.leva-c-kWgxhW {
  position: absolute;
  left: 1vw;
  margin-top: 160px;
}

.leva-c-kXfPOu {
  font-size: 12px;
  width: 50px;
}

#color, #edges, #background {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.leva-c-grzFYX {
  width: fit-content;
  margin: auto;
}

.leva-c-bDGmTT {
  display: inline-flex !important;
  justify-content: space-around !important;
}

button.leva-c-ihqPFh {
  padding: 6px 5px 10px;
  width: 250px;
  height: 30px
}

button.leva-c-kobjwj {
  color: white;
  width: 121px;
  background-color: var(--leva-colors-accent2)
}

.cellgriddead {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 1px;
}

.cellboard {
  margin: auto;
  display: grid;
  width: 80%;
  aspect-ratio: 1;
  max-width: 1050px;
  max-height: 1050px;
  border: 1px white solid;
  background-color: #696969;
  background: rgba(22, 19, 15, 0.89);
  border-radius: 1.5em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.cellgridliving {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: auto;
  height: auto;
  /* From https://css.glass */
  background: rgb(250, 162, 55);
  border-radius: 3px;
  box-shadow: 0 0 6px 6px inset rgba(187, 100, 1, 0.959);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(37, 146, 0, 0.99);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(65, 223, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 1px;
}

#login_form, #profile_form, #new_comment {
  width: 80%;
  margin: 20px auto 0;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 7px;
}

#profile_form {
  max-width: 820px;
}

#new_comment {
  width: 100%;
  margin: 40px auto;
  max-width: 1000px;
}

.profile_img {
  display: block;
  height: 250px;
  width: 250px;
  border-radius: 10px;
  margin: 8px;
  border: 1px solid grey;
  box-shadow: 0 0 8px 4px grey;
}

.profile_card {
  display: flex;
  background-color: whitesmoke;
  width: fit-content;
  max-width: 700px;
  margin: 40px auto 100px;
  border-radius: 10px;
}

.profile_card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px
}

.profile_card > div > p {
  border-bottom: 1px solid rgba(124, 124, 124, 0.3)
}

.profile_h2 {
  margin: 30px auto;
  font-family: "Press Start 2P", cursive;
  text-shadow: 2px 2px 20px rgb(207, 137, 7);
}


@media (min-width: 1300px) {
  button.btn-secondary,
  #bg-nested-dropdown,
  button.dropdown-toggle,
  #save {
    font-size: 20px;
  }

  #effects {
    margin: -10px 0 0 -80px;
  }
  .btn-group > * {
    width: 145px
  }
}

@media (min-width: 1600px) {
  #effects {
    margin: -60px 0 0 2vw;
  }
}

@media (min-width: 1290px) {
  a.nav-link {
    padding: 5px 12px 2px !important
  }
}

@media (max-width: 500px) {
  .profile_card {
    flex-direction: column;
  }

  .profile_card > div {
    margin-top: 20px;
    margin-bottom: 20px
  }
}

@media (max-width: 1000px) {
  .three-d-controls {
    bottom: 2vh;
  }
}