@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;

  color: rgba(255, 255, 255, 0.87);
  /* background-color: rgb(127, 92, 217);*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: #242424;
}

.cells {
  padding: 10px;
  margin: 2px;
  border: solid 2px white;
}

/*NEW* - height and width */
body,
main,
.App {
  background-color: #242424 !important;
  height: 100vh;
  width: 100vw;
}

body,
main,
.App {
  background-color: #242424;
}

h2 {
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  text-shadow: 0px 0px 10px rgb(217, 0, 255);
}

.tutorial h2 {
  margin: 60px auto 30px;
}

main.tutorial {
  width: 100vw;
  margin: auto;
  padding-bottom: 60px;
  height: 100%;
  /* width: fit-content;
  margin: 10px auto;
  padding-bottom: 60px;*/
}

img.tutorial_img {
  display: flow-root;
  margin: 20px auto 35px;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px rgb(228, 141, 228);
}

img.user_img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 160px;
  border-radius: 50%;
}

.user_title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.tutorial_intro {
  color: rgb(235, 216, 255);
  font-size: 20px;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px 2px rgb(244, 63, 220);
  /* From https://css.glass */
  background: rgba(231, 46, 123, 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(231, 46, 123, 0.55);
}

.App {
  height: 80%;
}

/*html, body, #root, .anim {
  width: 100vw;
  height: 100vh;
  background: rgb(36, 36, 36);
  background: linear-gradient(
    184deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(36, 36, 36, 1) 23%,
    rgba(187, 188, 189, 1) 100%
  );
}*/

html,
body,
#root,
.anim {
  /*width: 100%;*/
  height: 100%;
  margin: 0;
  padding: 0;
}

.anim {
  position: absolute;
  width: 100%;
  top: 57px;
}

.game-controls {
  position: absolute;
  bottom: 5vh;
  z-index: 100;
  transform: translateY(20%);
  transform: translateX(20%);
}

#effects {
  border-radius: 10px !important;
  margin: -33px 30px;
  display: block;
  position: absolute;
  top: -967px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  height: auto;
  margin: 0;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

.patterns_h1,
.tutorial_h1 {
  margin-top: 90px;
  padding: 50px;
}

.user_h1 {
  margin: 70px 2px 30px;
}

.gametipsImg {
  width: 80%;
  height: 45%;
  margin: 10px;
  display: flex;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.patternsGrid {
  gap: 1px;
  width: fit-content;
  margin: 10px auto 20px;
}

.form-label {
  color: black
}

div.card {
  margin: 20px 10px;
  padding: 4px;
}

.card-body {
  height: 430px;
}

.patterns_list {
  margin: auto;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, max-content));
  justify-content: center;
  gap: 30px;
  padding-bottom: 90px;
}

.pattern_delete {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.card-img-top {
  object-fit: cover;
  max-height: 200px;
}

#nav {
  width: 100vw;
  height: 60px;
  position: absolute;
  top: 0;
  z-index: 999;
}

div.modal {
  margin-top: 500px;
  width: 100vw;
  /*position: absolute;
 z-index: 999;*/
}

div.user_title {
  margin: 90px 0 30px;
}

#offcanvas {
  position: absolute;
  z-index: 999;
  left: 0;
  background-color: rgb(234, 68, 159);
}

.button-module {
  margin: 5px 0;
  width: 650px;
  height: 40px;
}

button.btn-secondary,
#bg-nested-dropdown,
button.dropdown-toggle,
#save {
  font-size: 18px;
  border: 1px solid white;
}

button#save {
  background-color: rgb(255, 115, 0);
}

.leva-c-bDGmTT {
  justify-content: center;
}

.leva-c-kWgxhW {
  margin-top: 150px;
  margin-right: 10vw;
  font-size: 14px;
}

.leva-c-kXfPOu {
  font-size: 12px;
  width: 50px;
}

.leva-c-grzFYX {
  width: fit-content;
  margin: auto;
}

.leva-c-hwSNBG {
  width: 95%;
}

.cellgriddead {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 2px;
}
.cellboard {
  margin: auto auto 10vh;
  display: grid;
  gap: 1px;
  width: 60vh;
  height: 60vh;
  border: 1px white solid;
  background-color: #696969;
  background: rgba(15, 21, 22, 0.89);
  border-radius: 1.5em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1.5em;
}
.cellgridliving {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: auto;
  height: auto;
  /* From https://css.glass */
  background: rgba(245, 31, 217, 0.594);
  border-radius: 10px;
  box-shadow: 0 0 1px 2px rgba(18, 239, 255, 0.959);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(37, 146, 0, 0.99);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(65, 223, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 2px;
}

.alert {
  position: absolute;
  z-index: 9;
  bottom: 500px;
}

@media (min-width: 1300px) {
  button.btn-secondary,
  #bg-nested-dropdown,
  button.dropdown-toggle,
  #save {
    font-size: 24px;
    height: 50px;
  }

  #effects {
    margin: -10px 0 0 -80px;
  }

  .button-module {
    margin: 10px 0;
    width: auto;
  }
}

@media (min-width: 1600px) {
  button.btn-secondary,
  #bg-nested-dropdown,
  button.dropdown-toggle,
  #save,
  #effects {
    border-radius: 0;
  }

  #start {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  #save {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .game-controls {
    transform: translateX(10%);
  }

  #effects {
    margin: -60px 0 0 2vw;
  }
}
